name: Dist Update

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update:
    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: DeterminateSystems/determinate-nix-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Build
        run: nix build
      - uses: s0/git-publish-subdir-action@develop
        continue-on-error: true
        env:
          REPO: self
          BRANCH: dist
          FOLDER: ./result
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
